---
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      mongo-db:
        condition: service_healthy
    image: anrayliu/uottahack2:latest
    ports:
      - "5000:5000"
    env_file: .env

  mongo-db:
    image: mongo:noble
    environment:
      MONOGO_INITDB_ROOT_USERNAME: root
      MONOGO_INITDB_ROOT_PASSWORD: rootroot
    ports:
      - "27017:27017"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s